

h1 {
    font-size: 125px;
    color:gold;
    margin: 75px 0 0 150px;
}

h2 {
    font-size: 60px;
    margin: 100px;
}

.intro {
    text-align: center;
}

#name {
    font-size: 50px;
    color: goldenrod;
    

}
#pic {
    
    border-radius: 100%;
}

.contact {
    align-items: center;
    margin: 20px;
}


.emojis {
    list-style: none;
}

