.carousel-inner  {
    position: relative;
    
    }
    
   .carousel-item img {
    top: 50;
    left: 50;
    translate: middle;
    height: 386px;
    width: 705px;
    margin: auto;
    margin-bottom: 50px;
   }

   .carousel-item .fadedbox {
    background: #8E793E;
    position: absolute;
    top: 0;
    left: 50;
    translate: middle;
    height: 380px;
    width: 700px;
    margin-left: 15%;
    color: #fff;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
   
    
    
}

.carousel-item:hover .fadedbox {
    opacity: 0.8;
    
}

.carousel-item .caption {
    


}

.carousel-item .project {
    font-size: 30px;
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.3s;

}

.carousel-item:hover .project,
.carousel-item:focus .project {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}
    
.head {
    font-size: 80px;
    margin: 20px 0 20px 100px;
    font-family: 'Bebas Neue', sans-serif;
    color: #8E793E;

}   

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');