.carousel-item {
    cursor: pointer;
    
    

}

.carousel-item {
    
}

.carousel-item img {
    transition: all .3s;
    transform: scale(1.1);
    opacity: 1;
    max-height: 386px;
    max-width: 705px;
    margin: auto;
    margin-bottom: 50px;
    
}

.carousel-item:hover img {
    -moz-box-shadow: 0 0 4px #444;
    -webkit-box-shadow: 0 0 4px #444;
    box-shadow: 10px 3px 50px 3px #8E793E;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale (1.2);
    opacity: 0.3;
}

.carousel-caption {
    background: transparent;
    opacity: 0
}

p{
    text-align: center;
    background: transparent;
}

.carousel-caption button {
    background-color: transparent;
    border-radius: 100%;
}

.carousel-caption:hover button {
    background-color: transparent;
    box-shadow: 5px 3px 5px 3px #8E793E;

}



.carousel-caption:hover {
    transform:scale(2) translateY(20px);
    transition: all 1s ease-in;
    opacity: 1;
}


.multi-btn button {
    margin: 30px;
    opacity: 0.7;
}

.multi-btn button:hover {
    opacity: 1;
}

    
.head {
    font-size: 80px;
    margin: 20px 0 20px 100px;
    font-family: 'Bebas Neue', sans-serif;
    color: #8E793E;

}   

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');