.carousel-item {
    cursor: pointer;
    
    

}

.carousel-item {
    
}

.carousel-item img {
    transition: all .3s;
    transform: scale(1.1);
    opacity: .5;
    max-height: 386px;
    max-width: 705px;
    margin: auto;
    margin-bottom: 50px;
    
}

.carousel-item:hover img {
    -moz-box-shadow: 0 0 4px #444;
    -webkit-box-shadow: 0 0 4px #444;
    box-shadow: 1px 1px 10px 0px #8E793E;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale (1.2);
    opacity: 1;
}
    
.head {
    font-size: 80px;
    margin: 20px 0 20px 100px;
    font-family: 'Bebas Neue', sans-serif;
    color: #8E793E;

}   

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');